train_data/zhwiki*
splitword.py
w2v.py
data/*

dict/正面评价词语（中文）.txt
dict/主张词语（中文）.txt
dict/主张词语（英文）.txt
dict/正面情感词语（中文）.txt
dict/正面情感词语（英文）.txt
dict/正面评价词语（英文）.txt
dict/程度级别词语（中文）.txt
dict/程度级别词语（英文）.txt
dict/负面情感词语（中文）.txt
dict/负面情感词语（英文）.txt
dict/负面评价词语（中文）.txt
dict/负面评价词语（英文）.txt
dict/words.vector
